@prefix: custom-breadcrumb;

.@{prefix} {
  &- {
    &root {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      cursor: default;

      a {
        cursor: pointer;
        color: #999999;
      }
    }

    &default-separator {
      margin: 0 8px;
    }
  }
}
