@orca-menu-prefix: orca-menu;

.@{orca-menu-prefix} {
  &- {
    &root {
      position: relative;
      display: flex;
      align-items: stretch;
      height: 100%;
      background-color: #262931;
      font-size: 14px;
      transition: color 300ms, background-color 300ms;
    }

    &vertical {
      flex-direction: column;
      height: auto;
    }

    /* theme default */

    &root.@{orca-menu-prefix}-theme-light {
      background-color: #ffffff;
    }
  }
}
